<%=render 'head' %>
<h2 class="heading">新增套餐</h2>


<div class="widget-container fluid-height clearfix">

  <div class="col-lg-8">
    <%= render 'form' %>
  </div>

  <div class="col-lg-3" style="font-size: 180px;">

    <i class="heading icon-jpy"></i>
  </div>

</div>

