<div class="container fluid-height clearfix">
<%=render 'head' %>
<h1>Editing rechargeable_record</h1>

<%= render 'form' %>

<%= link_to 'Show', @rechargeable_record %> |
<%= link_to 'Back', rechargeable_records_path %>
</div>