<%=render 'sidehead'%>
<div class="container fluid-height clearfix">
  <%if !params[:keywords]%>
      <%= render 'message'%>
  <%end%>
  <%if params[:keywords]=="news"%>
      <%=render 'news'%>
  <%end%>
</div>