<%=render 'sidehead'%>
<div class="container fluid-height clearfix">

<div class="col-md-9 fluid-height clearfix" >
  <div class="widget-container fluid-height clearfix" style="margin-bottom: 20px">

          </div>
  <div class="widget-container fluid-height clearfix" style="margin-bottom: 20px">

  </div>
  <div class="widget-container fluid-height clearfix" style="margin-bottom: 20px">

  </div>
</div>


  <div class="col-md-3 fluid-height clearfix">


    <div class="widget-container fluid-height clearfix" style="margin-bottom: 40px">


      <%=render 'right_top'%>



    </div>

    <div class="widget-container fluid-height clearfix" style="margin-bottom: 40px">


      <%=render 'right_middle'%>



    </div>
    <div class="widget-container fluid-height clearfix">


      <%=render 'right_bottom'%>



    </div>
</div>